body {
    background-color: aliceblue;
}

#header-nav {
   background-color:gainsboro;
}

div > h2 {
    text-align: center;
    color: blue;
}

div > p {
    background-color: beige;
}

#nav-list a {
    text-align: center;
}

#nav-list a span:hover {
    color: blue;
}
